<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Movie Recommendations</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="alert alert-info">
            <strong>User-based CF RMSE:</strong> {{ user_rmse }}<br>
            <strong>Item-based CF RMSE:</strong> {{ item_rmse }}<br>
            <strong>Linear Regression Model RMSE:</strong> {{ linear_regression_rmse }}<br>
            <strong>Deep Learning Model RMSE:</strong> {{ deep_learning_rmse }}<br>
        </div>
        <form action="{{ url_for('recommend') }}" method="get" class="mt-3">
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input type="text" class="form-control" id="user_id" name="user_id" required>
            </div>
            <div class="form-group">
                <label for="num_recommendations">Number of Recommendations:</label>
                <input type="text" class="form-control" id="num_recommendations" name="num_recommendations" value="5">
            </div>
            <div class="form-group">
                <label for="algorithm">Algorithm:</label>
                <select class="form-control" id="algorithm" name="algorithm">
                    <option value="item_based">Item-based Collaborative Filtering</option>
                    <option value="user_based">User-based Collaborative Filtering</option>
                    <option value="linear_regression">Linear Regression Model</option> <!-- 新增选项 -->
                    <option value="deep_learning">Deep Learning Model</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Get Recommendations</button>
        </form>
        <a href="{{ url_for('new_user') }}" class="btn btn-secondary mt-3">New User? Take a Test</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
